section.bottom-bar
  .container
    .col-md-6 &copy; Assign It To Us, 2015
    .col-md-6
      nav.pull-right
        .nav-item.r
          a(href='/privacy')
            span Privacy Policy
        .nav-item.r
          a(href='/terms')
            span Terms and Conditions