footer
  section.contact
    .container
      section.col-sm-8
        h4 Assign It To Us Technologies
        p Assign It To Us was founded in 2012 by Vince Iarusci and Steven Ng.
        p
          | We are technology professionals with several years of experience in the field of business intelligence.
        p If you&apos;re ready to start your project, we&apos;re here to help you.       
      section.col-sm-4
        h4 Contact Us
        .contact-info
          .col-sm-6
            h5 By Mail
            p 27 Wheelwright Crescent
            p Toronto, ON M3N 1V2
            p Canada
        .col-sm-6
          h5 By Phone
          p 647-629-8986
          h5 By Email
          p just@assignittous.com