header.top-bar.bg-aitm
  .container
    .row
      .col-xs-1
        a(href='/specimen.html') 
          i.aitu-logo
      .col-xs-11
        nav.pull-right
          .nav-item.r
            a(href='/specimen.html') Specimen
          .nav-item.r
            a(href='/blog.html') Blog
          .nav-item.r
            a.active(href='/blog_archive_index.html') Archive
