html
  include ./include/_head.jade
  body
    section.page
      include ./include/_menu_blog.jade
      section

        h1
            a(href='/blog_permalink.html') Welcome
            p Monday August 3, 2015 5:30:00pm
            p Vince Iarusci
            p Markdown content goes here
      include ./include/_footer.jade
    include ./include/_bottom_bar.jade