html
  include ./include/_head.jade
  body
    section.page
      include ./include/_menu_blog_archive_index.jade      
      section
        h1
          | Archive
         | &nbsp;For June 2015
        article
          h1
            a(href='/blog/2015/06/first_post.html') First Post
          |   
          p Monday June 1, 2015 5:30:00pm
          |   
          p Steven Ng
          p test post
        article
          h1
            a(href='/blog/2015/06/second_post.html') secondi
          |   
          p Thursday June 4, 2015 5:30:00pm
          |   
          p
          p Markdown content goes here
        article
          h1
            a(href='/blog/2015/06/third_post.html') third
          |   
          p Saturday June 6, 2015 5:30:00pm
          |   
          p
          p Markdown content goes heress
        article
          h1
            a(href='/blog/2015/06/fourth.html') fourth
          |   
          p Monday June 8, 2015 5:30:00pm
          |   
          p
          p Markdown content goes here
        article
          h1
            a(href='/blog/2015/06/come_on_steven.html') Come On Steven!!!
          |   
          p Tuesday June 30, 2015 3:30:00pm
          |   
          p Vince Iarusci
          h2#come-on-steven- Come On Steven!!!
          p Noticed that I used 3 !!! just like all the high school girls do.
        article
          h1
            a(href='/blog/2015/06/fifth.html') fifth
          |   
          p Tuesday June 30, 2015 5:30:00pm
          |   
          p
          p Markdown content goes here
      include ./include/_footer.jade
    include ./include/_bottom_bar.jade