html
  include ./include/_head.jade
  body
    section.page
      include ./include/_menu_blog_archive_index.jade
      section
        h1 Archive
          h1 2015
            ul
              li
                a(href='/blog_archive.html') June
              |   
              li
                a(href='/blog_archive.html') August
      include ./include/_footer.jade
    include ./include/_bottom_bar.jade