html
  include ./include/_head.jade
  body
    section.page
      include ./include/_menu_specimen.jade

      header.hero.bg-hero-aitu
        .container
          .row
            .col-xs-12.left
              h1 Make Smarter Decisions
              h3
                | Assign It To Us builds analytics-based software solutions that enable you to make more informed decisions.
      section.content.odd
        .container
          .flex.va-fit
            .va-fit.grow-1.image-abstract
              .image
                img(src='/_assets/images/aitu_1.png', alt='Cognos Support', style='max-width:100%;height:auto;')
              .abstract
                h4 Need help with a Cognos project?
                p We&apos;ll use our extensive know-how to help you get where you need to be.
                p
                  a(href='mailto:just@assignittous.com?Subject=Cognos Services Request') Contact us now.
            .va-fit.grow-1.image-abstract
              .image
                img(src='/_assets/images/aitu_2.png', alt='Knodeo Reporting', style='max-width:100%;height:auto;')
              .abstract
                h4 Looking for a reporting solution?
                p
                  | If Cognos isn&apos;t a fit for you, we&apos;ll build you a solution using our open source stack that will save you a pile of money when compared to the other guys.
                p
                  a(href='/knodeo/') Learn more
            .va-fit.grow-1.image-abstract
              .image
                img(src='/_assets/images/aitu_3.png', alt='Assign It To Me', style='max-width:100%;height:auto;')
              .abstract
                h4 Trying to get a grip on your project costs?
                p
                  | We&apos;ve got a solution for that too. Assign It To Me, the management tool that will reduce project administration so you can focus on project success.
                p
                  a(href='/assign_it_to_me/') Learn more      
      section.content.even
        .container
          .row
            .col-sm-12
              h2 We Do Cognos
              p
                | We&apos;ve spent a good part of the last two decades
                | delivering Cognos solutions for businesses in many industries, often pushing Cognos to its limits.
              p So why hire us?
              p
                | A lot of Cognos experts out there are simply that. Experts at Cognos, and not much else.
              p
                | We&apos;re good at Cognos, but not just because of our knowledge of Cognos. We&apos;re good at Cognos because we also know and understand the technologies that support and surround Cognos.
              p
                | We know data warehouses. We know that some problems are best solved with raw SQL. We know root cause analysis. We know how to code. And we work smart.
              p
                | Most importantly, we&apos;re more interested in helping you solve your problems than selling you software licenses. If there&apos;s a nail that the Cognos hammer can&apos;t hit, 
                a(href='/knodeo') we probably have a different hammer in our toolbox 
                | that can do the job.
              p
                | Do you need a difference maker on your Cognos project? 
                a(href='mailto:just@assignittous.com?Subject=Cognos Services Request') Contact us now.
      section.content.odd
        .container
          .row
            .col-md-12
              h2 Cognos not a fit for you?
              p We can still help.
              p
                | Don&apos;t get us wrong, software like Cognos have their place, but they&apos;re designed to be everything to everyone, and that can leave your business out in the cold.
              p
                | We&apos;ve designed and built Knodeo, which is a simple but powerful data warehouse, reporting and analysis framework.
              p
                | Our framework allows you to build only what you need, with no added fluff. It&apos;s also better than building from scratch, as our stack is built from proven, open source technologies.
              p
                | And the best part of our solution, is that your software licenses have zero cost. Yes, you read that right. You only pay us for the services work to build what you need.
              p
                | Knodeo is built for companies that need a powerful reporting solution but without the huge costs required to just get a foot in the door.
              p
                | Sound interesting? 
                a(href='/knodeo') Learn more about Knodeo.
      section.content.even
        .container
          .row
            .col-md-12
              h2 Struggling to rein in your projects?
              p We&apos;ve got something for that too.
              p
                | In our years of running projects, we were never able to find a project management tool that was well suited to the challenges of running a consulting firm.
              p
                | Inevitably, the software out there would get some things right, and other things horribly wrong.
              p
                | In the end, we took matters into our own hands and rolled our own solution, Assign It To Me.
              p
                | Assign It To Me is a web-based, mobile friendly tool that helps consulting firms like ours run projects profitably and successfully.
              p
                | We relied on our analytics background to develop a system that gives us a snapshot of the health of our projects. We put our money where our mouth is, and we use Assign It To Me on all of our engagements.
              p
                | Looking for some project relief for your business? 
                a(href='../assign_it_to_me/') Learn more about Assign It To Me.

      include ./include/_footer.jade
    include ./include/_bottom_bar.jade